# Ignoring macOS system files
.DS_Store

# Ignoring temporary TensorFlow files
*.tfevents

# Ignoring catalogs with model weights
weights/

# Ignoring directories; that are not normally required in the repository
/node_modules/
/dist/
